@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.left-image-center {
  left: calc(50% - 180px)
}

:root {
  --color-background-primary: #014E56;
  --color-background-secondary: #012f34;
  --color-background-tertiary: #f37f7f;

  --color-text-main: #ffffff;
  --color-text-primary: #f67e7e;
  --color-text-secondary: #100;

  --color-border-accent: #ffffff;
  --color-border-muted: #100;
}
